<div id="board" data-id="<%= @board.id %>">
  <h2><%= @board.name %></h2>
  <span><%= link "Edit", to: board_path(@conn, :edit, @board) %></span>
  <span><%= link "Back", to: board_path(@conn, :index) %></span>
</div>
<div id="board-topics">
  <section name="topics">
    <div class="panel panel-default">
      <div class="panel-heading">Topics</div>
      <ul id="board-topics-container" class="list-group">
        <%= for topic <- @topics do %>
          <li class="list-group-item topic clear-both" data-id="<%= topic.id %>">
            <a
              class="vote"
              data-id="<%= topic.id %>"
              onClick="if(window.boardInstance) { window.boardInstance.voteOnTopic('<%= @board.id %>', '<%= topic.id %>') }"
            >
              <span class="votes" data-votes="<%= topic.votes %>">(<%= topic.votes || 0 %>)</span>
              <i class="far fa-heart"></i>
            </a>
            <%= topic.body %>
            <a class="delete-topic pull-right"
               data-id="<%= topic.id %>"
               onClick="if(window.boardInstance) { window.boardInstance.deleteTopic('<%= @board.id %>', '<%= topic.id %>') }"
            >
              <i class="fas fa-trash"></i>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
  <h3>New Topic</h3>
  <%= render "topic_form.html", Map.put(assigns, :action, board_topic_path(@conn, :create, @board)) %>
</div>
<div id="board-chat">
  <h3>Chat</h3>
  <ul id="board-chat-container" class="list-group">
  </ul>
  <div class="input-group chat-msg-fields">
    <input id="board-chat-msg-input" class="form-control" type="text" name="board-chat-msg" placeholder="Send a message...">
    <div class="input-group-btn">
      <button type="button" id="board-chat-msg-send" name="send-msg-btn" class="btn btn-info">Send</button>
    </div>
  </div>
</div>
