<h2>Listing Topics</h2>

<table class="table">
  <thead>
    <tr>
      <th>Body</th>
      <th>Votes</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for topic <- @topics do %>
    <tr>
      <td><%= topic.body %></td>
      <td><%= topic.votes %></td>

      <td class="text-right">
        <span><%= link "Delete", to: board_topic_path(@conn, :delete, @board, topic), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Topic", to: board_path(@conn, :show, @board) %></span>
