<div class='col-xs-12 col-md-6 col-md-offset-3'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      Login
    </div>
    <div class='panel-body'>
      <%= if not Enum.member?(@current_auths, "identity") do %>
        <hr>
        <%= form_tag auth_path(@conn, :callback, "identity"), method: "post", class: "login", novalidate: true do %>
          <div class='control-group'>
            <label class='control-label' for='email-input'>Email</label>
            <input class='form-control' type='email' name='email' value='<%= @conn.params["email"] %>' required/>
          </div>

          <div class='control-group'>
            <label class='control-label' for='password-input'>Password</label>
            <input class='form-control' type='password' name='password' required/>
          </div>

          <div class='control-group'>
            <button class='btn btn-primary'>Login</button>
          </div>
        <% end %>
        <p><%= link "Signup with your email", to: user_path(@conn, :new) %></p>
        <a class="btn btn-primary btn-lg" href="/auth/gitlab">
          <i class="fab fa-gitlab"></i>
          Sign in with Gitlab
        </a>
      <% end %>
    </div>
  </div>
</div>
